@{
    ViewData["Title"] = "Page Not Found";
}

<div class="row">
    <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="card shadow-sm mt-sm-2 mt-md-5">
            <div class="card-body text-center py-5">
                <h2 class="card-title">Error <span class="text-danger">404!</span></h2>
                <p class="card-text">We're sorry, but the page you are looking for could not be found.</p>
            </div>
        </div>
    </div>
</div>