@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="card shadow-sm mt-sm-2 mt-md-5">
            <div class="card-body text-center py-5">
                <h2 class="card-title">Access <span class="text-danger">Denied!</span></h2>
                <p class="card-text">We're sorry, but you do not have permission to view this page.</p>
            </div>
        </div>
    </div>
</div>