@{
    Layout=null;
}

@model ZaicoApiInteractor.ViewModels.LoginViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZaicoAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 m-auto">
                <div class="card border-0 shadow mx-auto" id="loginCard" style="max-width:520px;">
                    <div class="card-body">
                        <div class="text-center my-3 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </div>

                        @* <div asp-validation-summary="All" class="text-danger"></div> *@

                        <form asp-controller="Access" asp-action="Login" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Username" autocomplete="off" class="form-control form-control-lg" placeholder="Username">
                                <label asp-for="Username"></label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" asp-for="Password" autocomplete="off" class="form-control form-control-lg" placeholder="Password">
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" asp-for="KeepLoggedIn" class="form-check-input" />
                                <label class="form-check-label" for="KeepLoggedIn">
                                    <span>Keep me logged in.</span>
                                </label>
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" value="Login" class="btn btn-lg btn-primary shadow col-6"> Login </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>